<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>SDET|QA - Free On-line SDET Training</title>
		<link href="<%="../public/bootstrap/css/theme/" + theme + "/bootstrap.min.css" %>" rel="stylesheet">
	</head>
	<body>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="page-header">
						<h1>SDET|QA</h1>
					</div>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="/" title="Return to Home Page">SDET|QA</a></li>
						<li class="breadcrumb-item"><a href="/sdet" title="Return to SDET Page">SDET</a></li>
						<li class="breadcrumb-item active">Framework</li>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div class="card mb-3">
						<h1 class="card-header">Getting Started with Our Free Framework</h1>
						<%- include ../partials/slide.ejs %>
					</div>
				</div>
			</div>
			<%- include ../partials/footer.ejs %>
		</div>
		<script>
			var index = <%= slide %>;
			var data = <%- JSON.stringify(data) %>;
		</script>
		<script src="../public/scripts/slide-controls.js"></script>
		<script src="../public/scripts/slide-controls-general.js"></script>
	</body>
</html>
