<div class="card-body row">
	<div class="col-md-8">
		<img id="slideImage" style="display: block; margin: 0 auto; max-width:100%;" src="<%= data[slide].imgUrl %>">
	</div>
	<div class="col-md-4">
		<h5 class="card-title" id="sectionHeading"><%= data[slide].sectionHeading %></h5>
		<p id="slideText" style="min-height: 2rem;"><%= data[slide].text %></p>
	</div>
</div>
<div class="card-footer">
	<div class="row">
		<div class="col-3">
			<a id="previousLink" style="float:left;" href="javascript:previousSlide();" class="page-link" title="Previous">&laquo;</a>
		</div>
		<div class="col-6">
			<p class="text-center"><span id="slideNumber"><%= slide %></span> / <span><%= data.length-1 %></span></p>
		</div>
		<div class="col-3">
			<a id="nextLink" style="float:right;" href="javascript:nextSlide();" class="page-link" title="Next">&raquo;</a>
		</div>
	</div>
</div>